/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.titles-box{
  font-family: 'Cormorant Garamond:300,400', serif;
  text-align: left;
  float: none;
  margin: 50px auto;
  width: auto;
  height: 100px;
  color: #fff;
  /*text-shadow: 4px 4px 4px #aaa;*/
  text-align: center;
  /*border-right: 3px solid #fff; */
}
.titles-top {
  font-size: 90px;
  margin-bottom: 0px; 
  height: 50px; 
  margin-top: 50px;  
 }
.titles-bottom {
  font-size: 45px;
  margin-top: 20px; 
  height: 50px; 
  margin-bottom: 10px; 
  padding-left: 50px; 
  width: auto;
 }

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
.icon-block {
 padding: 0 15px;
}
.icon-block .material-icons {
 font-size: inherit;
}
nav {
 padding-top: 5px;
 height: 69px;
 line-height: 15px;
 border-bottom: solid 1px #9f8f66;
 background: #c7b37f; /* Old browsers */
 background: -moz-linear-gradient(top,  #c7b37f 0%, #f1e8ca 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #c7b37f 0%,#f1e8ca 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #c7b37f 0%,#f1e8ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7b37f', endColorstr='#f1e8ca',GradientType=0 ); /* IE6-9 */
}
nav ul li {
 padding: 24px 0;
}
nav ul a {
 color: #5b4629;
 border-right: solid 1px #5b4629;
}
nav ul a:hover { 
 background-color: transparent;
 color: #281c0c;
}
.border-menu-off {
 border-right: none;
}
nav .button-collapse {
 float: right;
 color: #9f8f66;
}
nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  z-index: 999;
}
.side-nav li i {
 float: left;
 color: #5b4629;
 padding: 2px 8px 0 8px;
}
.side-nav li.active, .side-nav a:hover {
  background-color: rgba(214, 192, 162, 0.20);
}
.side-nav a {
 color: #5b4629;
 text-transform: uppercase;
}
.btn-caption-d {
 padding: 0 2.1rem;
}
.card {
 /* background-color: rgba(206,229,205,0.8); */
 color: #263238;
 background-color: rgba(255,255,255,0.8);
}
.card .card-action {
 background-color: transparent;
 border-top: 1px solid rgba(38, 50, 56, 0.2);
}
.slider .slides li .caption p {
 color: #263238;
}
.slider .indicators {
  z-index: 9999;
  left: auto;
}
.slider .indicators .indicator-item {
  margin: 0 4px;
}
.busca-localidades .row {
 margin-bottom: 0px;
}
.select-wrapper + label {
 font-size: 1.3rem;
 top: -15px;
 letter-spacing: 1px;
 color: #555555;
 font-weight: bold;
}

@media only screen and (max-width: 600px) {
  nav ul li {
   padding: 0px 0 !important;
  }
  nav ul a {
   border-right: none !important;
  }
  .card .card-action a {
   margin: 5px 0 5px 0;
  }
  .slider .indicators {
   z-index: 333;
   left: auto;
  }
  .slider {
   height: 400px !important;
   background-color: transparent !important;
  }
  .footer-mobile {
   display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  nav ul li {
   padding: 0px 0 !important;
  }
  nav ul a {
   border-right: none !important;
   color: red;
  }
  .card .card-action a {
   margin: 5px 0 5px 0;
  }
}

@media only screen and (min-width: 601px) {
  .slider, .slides {
   height: 455px !important;
   background-color: transparent !important;
  }

}

@media only screen and (min-width: 1365px) {
  nav .container {
   width: 75% !important;
  }
  .slider .slides li .caption {
   right: 15%;
   left: auto;
   width: 20%;
  }
  .card .card-action a {
   margin: 5px 0 5px 0;
  }
}
@media only screen and (max-width: 1365px) {
  nav .container {
   width: 75% !important;
  }
}
@media only screen and (max-width: 1166px) {
  nav .container {
   width: 88% !important;
  }
}

.box-info{
  display: none;
}
.box-info p {
    font-size: 18px;
    font-weight: 300;
    border-left: 3px solid #ff4242;
    padding: 10px 0 10px 10px;
    margin: 0;
}

.pagination{
  margin-top: 130px;
  font-family: 'Cormorant Garamond', serif;
}
.pagination li.active a {
    color: grey;
    background-color: #e0e0e0;
}
.pagination li a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}
.tabs .indicator {
    background-color: #eadab6;
}
.materialboxed {
  padding: 10px 10px 10px 10px;
  margin: 0;
  pointer-events: none;
  cursor: default;
}
.materialboxed figcaption {
 position: absolute;
 color: #fff;
 top: 20px;
 left: 20px;
 font-size: 15px;
 font-weight: bold;
 background: url(../img/bullet-voo.png) no-repeat;
 text-indent: 25px;
 line-height: 12px;
 padding-bottom: 7px;
}
.discount-txt {
 font-size: 38px;
 line-height: 0;
 font-weight: 500;

}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

