{% extends "::base_perfil.html.twig" %}

{% block title %}AppBundle:Usuario:index{% endblock %}

{% block body %}
     <h3>Dadas de Lançes</h3>
        <center>
            Saldo:0
        </center>
     <h3>Comprar Lançes</h3>
        <form>
            <div>
                Digite a quantidade de lançes que você deseja comprar
            </div>
        </form>
{% endblock %}
